<template>
    <LoginContent></LoginContent>
</template>
<script>
//import Navbar from '@/components/navbar/Navbar.vue';
import LoginContent from '@/components/login/LoginContent.vue'

export default {
    name: "Login",
    components: {LoginContent }
}
</script>