
<template>
    <div class=" form-content">
        <div class="content-form">
            <h5>Phone</h5>
            <input v-model="user.phone" id="phone" v-on:input="phone"  placeholder="(XX) XXX XXXX">
            <p v-if="phoneValid" class="valid">Iltimos telfon raqmni to'gri kuriting</p>
        </div>
        <div class="content-form">
            <h5>Name</h5>
            <input type="text" v-model="user.name" v-on:input="firstName" maxlength="20" placeholder="John"> 
            <p v-if="nameValid" class="valid">Ism uzunligi min 5 belgi</p>
        </div>
        <div class="content-form">
            <h5>Passport</h5>
            <input type="text"  v-model="user.passport" v-on:input="passport" placeholder="AB1234567">
            <p v-if="passValid" class="valid">Ma'lumotlarni to'g'ri kiriting</p>
        </div>
        <div class="content-form">
            <h5>PINFL</h5>
            <input type="text" v-model="user.pinfl" v-on:input="pinfl" placeholder="XXXXXXXXXXXXXX">
            <p v-if="pinflValid" class="valid">Raqamlar soni 14 tadan kam</p>
        </div>
        <div class="content-form">
            <h5>Barthday</h5>
            <input type="date" v-model="user.barthday" v-on:input="barthday">
            <p v-if="barthdayValid" class="valid">Tug'ulgan kun ma'lumotlarini to'liq kiriting</p>
        </div>
        <div class="button">
            <button @click="send"> send</button>
        </div>
        
    </div>
</template>

<script>

export default {
    name: 'FormContent',
    data() {
        return {
            user:{
                phone: '',
                name: '',
                passport: '',
                pinfl: '',
                barthday: ''
            },
            phoneValid: false,
            nameValid: false,
            passValid: false,
            pinflValid: false,
            barthdayValid: false
        }
    },
    methods: {
      phone(){
            this.user.phone = this.formatPhone(this.user.phone)
            if(this.user.phone.length < 13){
                this.phoneValid = true
            }
            if(this.user.phone.length == 13){
                this.phoneValid = false
            }       
            
        },
        formatPhone(phone){
            if(!phone) return phone
            const number = phone.replace(/[^\d]/g,'')
            const l = number.length
            if(l< 3) return number
            if(l< 6){
                return '(' + number.slice(0,2) + ')' + ' ' + number.slice(2,5)
            }
            return '(' + number.slice(0,2) +')' + ' '+ number.slice(2,5) + ' ' + number.slice(5,9)
        },
        firstName(){
            if(this.user.name.length < 5){
                this.nameValid = true

            }
            if(this.user.name.length >=5){
                this.nameValid = false

            }
        },
        passport(){
            this.user.passport = this.passportFormat(this.user.passport)
            var regsaid = /[A-Z]{2}[0-9]{7}/;
            
            if(regsaid.test(this.user.passport) == false)
            {
                this.passValid = true
            }
            else
            {
                this.passValid = false
            }
        },
        passportFormat(pas){
            if(!pas) return pas
            const num = pas.replace(/[^A-Z]{2} [0-9]{7}/g,'')
            const p = num.length
            if(p < 3) return num
            return num.slice(0,2) + num.slice(2,9)
        },
        pinfl(){
            this.user.pinfl = this.pinflFarmat(this.user.pinfl)
            if(this.user.pinfl.length < 14){
                return this.pinflValid = true
            }else{
                return this.pinflValid = false
            }
        },
        pinflFarmat(pin){
            if(!pin )return pin
            const pinn = pin.replace(/[^\d]/g,'')
            
            return pinn.slice(0,14)
        },
        barthday(){
            if(this.user.barthday.length < 10){
                this.barthdayValid = true
            }else{
                this.barthdayValid = false
            }
        },
        send(){
            if(!this.phoneValid && !this.nameValid && !this.passValid && !this.pinflValid && !this.barthdayValid){
                alert("OK")
            }else{
                alert("Error")
            }
        }
      
    },
}
</script>
<style scoped>
.form-content{
    width: 60%;
    border: 1px solid #bebebe;
    min-height: 200px;
    padding: 30px 20%;
    margin: auto;
    margin-top: 30px;
}

.content-form{
    margin: 10px 0;
}
.content-form h5{
    color: #121212;
}
.form-content input{
    border: 1px solid #bebebe;
    width: 100%;
    padding: 3px 10px;
}
.valid{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #BF1431;
}
.button{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.content button{
    text-align: center;
    width: 100px;
    padding: 5px 0;
    background: #14BF9C;
    color: #FFF;
    font-weight: 500;
}

@media(max-width:700px){
    .form-content{
        width: 100%;
        
    }
    
}
</style>