<template>
    <Navbar></Navbar>
    <StudentNavbar></StudentNavbar>
</template>
<script>
import Navbar from '@/components/navbar/Navbar.vue';
import StudentNavbar from '@/components/student/StudentNavbar.vue'
export default {
    name: "Students",
    components: { Navbar,StudentNavbar }
}
</script>