<template>
     <div class="create-content">
        <div class="exit"><i @click="close" class="fa-solid fa-xmark"></i></div>
    </div>
    <div class="create-width">
        <div class="create">
            <h5>Name</h5>
            <input type="text" v-model="student.name" placeholder="Name">
        </div>
        <div class="create">
            <h5>Phone</h5>
            <input type="tel" v-model="student.phone" placeholder="(XX) XXX XXXX" v-on:input="phone">
        </div>
        <div class="create">
            <h5>Course</h5>
            <select v-model="student.course">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="button">
            <button @click="add">Add</button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'CreateStudent',
    data() {
        return {
            student:{
                name: '',
                phone: '',
                course: ''
            },
            array: []
        }
    },
    methods: {
        phone(){
            this.student.phone = this.formatPhone(this.student.phone)      
            
        },
        formatPhone(phone){
            if(!phone) return phone
            const number = phone.replace(/[^\d]/g,'')
            const l = number.length
            if(l< 3) return number
            if(l< 6){
                return '(' + number.slice(0,2) + ')' + ' ' + number.slice(2,5)
            }
            return '(' + number.slice(0,2) +')' + ' '+ number.slice(2,5) + ' ' + number.slice(5,9)
        },
        add(){
            if(localStorage.getItem("students") == null){
                this.array.push(this.student)
                localStorage.setItem("students",JSON.stringify(this.array))

            }else{
                let d = JSON.parse(localStorage.getItem('students'))
                d.push(this.student)
                localStorage.setItem("students",JSON.stringify(d))

            }
            this.$emit("createStudent",false)
            this.$router.go('/students')
        },
        close(){
            this.$emit("createStudent",false)
        }
    },
}
</script>
<style scoped>
.exit{
    width: calc(100% - 40px);
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
}
.exit i{
    font-size: 20px;
    cursor: pointer;
}
.create-width{
    width: 100%;
    padding: 20px 30%;
}
h5{
   color: #212121;
}
input,select{
    width: 100%;
    border: 1px solid #bebebe;
    margin: 10px 0;
    background: #fff;
    height: 30px;
}
.button{
    width: 100%;
    text-align: center;
}
.button button{
    background: #14BF9C;
    color: #fff;
    font-weight: 500;
    width: 100%;
    height: 30px;
    margin-top: 30px;
}
</style>