<template>
    <div class="content">
        <div class="test-navbar">
            <p @click="test" >Studentlarlar</p>

        </div>
        <StudentList></StudentList>
    </div>
</template>
<script>
import StudentList from './StudentList.vue';
export default {
    name: "StudentNavbar",
    components: { StudentList},
    data() {
        return {
           
        }
    },
    methods: {
        
    },
}
</script>
<style scoped>
.content{
    margin: 20px 30px;
    width: calc(100% - 60px);
    min-height: 200px;
    border: 1px solid #bebebe;
}
.test-navbar{
    width: 100%;
    height: 50px;
    background: #14BF9C;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    align-items: center;
}
.test-navbar p{
    margin-left: 20px;
    font-weight: 500;
    cursor: pointer;

}
.test-navbar p:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}
</style>