 <template>
    <div class="content-list">
        <div class="create">
            <div class="search">
                <input v-model="name" type="text" placeholder="Ism kiriting" v-on:input="input">
                <select v-model="course" v-on:change="select">
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>

            </div>
            <div @click="open" class="add">Qo'shish</div>
        </div>
        <MainModal :showModal="create" @showModal="close">
            <CreateStudent @createStudent="close"></CreateStudent>
        </MainModal>
        <div class="list">
            <table class="table-auto">
            <thead>
                <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Course</th>
                <th>Taxrirlash</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="s,index in studentes">
                    <td>{{index + 1}}</td>
                    <td> {{s.name}}</td>
                    <td>{{s.phone}}</td>
                    <td>{{s.course}}</td>
                    <td style="text-align:center" class="edit">
                        <i @click="editeStudent(index)" class="fa-solid fa-pen"></i>
                        <i @click="deleteStudent(index)" class="fa-solid fa-trash"></i>
                    </td>
                </tr>
                
            </tbody>
            </table>
        </div>
        <MainModal :showModal="editShow" @showModal="close">
            <EditStudent :studentId="editId" @editStudent="close"></EditStudent>
        </MainModal>
        
    </div>
</template>
<script>
import MainModal from '../UI/MainModal.vue'
import CreateStudent from './CreateStudent.vue'
import EditStudent from './EditStudent.vue'


export default {
    name: "StudentList",
    components: { MainModal, CreateStudent ,EditStudent},
    data() {
        return {
            create: false,
            studentes: null,
            editId: null,
            editShow:false,
            name: '',
            course: '',
            default: []
        }
    },
   
    methods: {
        open(){
            this.create = true
        },
        close(){
            this.create = false
            this.editShow = false
        },
        getStudent(){
            this.studentes = JSON.parse(localStorage.getItem('students'))
        },
        deleteStudent(id){
            this.studentes.splice(id,1)
            localStorage.setItem('students',JSON.stringify(this.studentes))
            this.getStudent()
        },
        editeStudent(id){
            this.editId = id
            this.editShow = true
        },
        select(){
            if(this.course == '0'){
                this.studentes = JSON.parse(localStorage.getItem('students'))
            }else{
                
                this.studentes = JSON.parse(localStorage.getItem('students'))
                this.studentes.forEach(element => {
                    if(element.course == this.course){
                        this.default.push(element)
                    }
                });
                this.studentes = this.default
                this.default = []
            }

        },
        input(){
            
            this.studentes = JSON.parse(localStorage.getItem('students'))
            this.studentes.forEach(element => {
                if(element.name == this.name){
                    this.default.push(element)
                }
                
            });
            this.studentes = this.default
            this.default = []
            if(this.name.length == 0){
                this.studentes = JSON.parse(localStorage.getItem('students'))
            }
                
        }

        
       
    },
    mounted(){
        this.getStudent()
    }

}
</script>
<style scoped>
.create{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input,select{
    border: 1px solid #bebebe;
    margin-top: 20px; width: 150px;
    margin-left: 20px;
    height: 25px;
}

.add{
    border: 1px solid #14BF9C;
    padding: 5px 10px;
    background: #14BF9C;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    max-height: 40px;

}
table{
    width: 100%;
    margin-top: 20px;
    
}
/* @media (max-width:800px) {
    .lest{
        width: 750px;
        overflow: auto;
        overflow-x: scroll;
    }
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  
  background: #eee;
}
  */
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #4E99AD; 
  border-radius: 5px;
} */

/* Han/dle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #4E99AD; 
}  */
th, td{
    border: 1px solid #bebebe;
} 
.edit i{
    cursor: pointer;
}
.fa-pen{
    margin-right: 10px;
    color: #ffc107;
}
.fa-trash{
    color: #BF1431;
}
.option{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
</style>