<template>
    <Navbar></Navbar>
    <TestNavbar></TestNavbar>
</template>
<script>
import Navbar from '@/components/navbar/Navbar.vue';
import TestNavbar from '@/components/tests/TestNavbar.vue';
export default {
    name: 'Home',
    components:{
    Navbar,
    TestNavbar
}
}
</script>
<style scoped>

</style>