 <template>
    <div class="option-content">
        <div v-for="q,index in questions" :key="index" class="question-content">
            <div class="question">
                <div class="index">{{index + 1}}. </div>
                <div v-html="q.question"></div>
            </div>
            <div class="grid  grid-cols-2">
                <div v-for="o,i in q.options" :key="i" >
                    
                    <div v-if="q.type == 0 || q.type == 1"  class="option">
                        <input v-if="q.type == 0" type="radio" @click="radio(index,i)"  :name="index" class="input">
                        <input v-if="q.type == 1"  type="checkbox" @click="checkbox(index,i)" class="input">
                        <div  v-html="o.option"></div>
                    </div>
                </div>
            </div>
            <div v-if="q.type == 2" class="type">
                <ckeditor v-if="index == 0" v-model="answerTree" ref="typeBox"  @input="tree(index)" :editor="editor" ></ckeditor>
                <ckeditor v-if="index == 1" v-model="answerTree1" ref="typeBox"  v-on:input="tree(index)" :editor="editor" ></ckeditor>
                <ckeditor v-if="index == 2" v-model="answerTree2" ref="typeBox"  @input="tree(index)" :editor="editor" ></ckeditor>
                <ckeditor v-if="index == 3" v-model="answerTree3" ref="typeBox"  v-on:input="tree(index)" :editor="editor" ></ckeditor>
                <ckeditor v-if="index == 4" v-model="answerTree4" ref="typeBox"  v-on:input="tree(index)" :editor="editor" ></ckeditor>
                <ckeditor v-if="index == 5" v-model="answerTree5" ref="typeBox"  v-on:input="tree(index)" :editor="editor" ></ckeditor>
                <ckeditor v-if="index == 6"  v-model="answerTree6" ref="typeBox"  v-on:input="tree(index)" :editor="editor" ></ckeditor>
                <ckeditor v-if="index == 7"  v-model="answerTree7" ref="typeBox"  v-on:input="tree(index)" :editor="editor" ></ckeditor>
                <ckeditor v-if="index == 8"  v-model="answerTree8" ref="typeBox"  v-on:input="tree(index)" :editor="editor" ></ckeditor>
                <ckeditor v-if="index == 9"  v-model="answerTree9" ref="typeBox"  v-on:input="tree(index)" :editor="editor" ></ckeditor>
                
            
            </div>
        </div>
        <div class="button"><button @click="stop">Stop</button></div>
        <MainModal :showModal="openRezalt" @showModal="closeRezalt">
            <Rezalt :rezalt="trueAnswer" :len="len" @closeRezalt="closeRezalt"></Rezalt>
        </MainModal>

    </div>
</template>
<script>
import CKEditor from "@ckeditor/ckeditor5-vue";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import MainModal from "../UI/MainModal.vue";
import Rezalt from './Rezalt.vue'

export default {
    name: 'Option',
    data() {
        return {
            editor: ClassicEditor,
            questions: null,
            answers: [],
            answer: [],
            radioTrue: true,
            checkboxTrue: true,
            there: true,
            indexTree: true,
            answerTree: '',
            answerTree1: '',
            answerTree2: '',
            answerTree3: '',
            answerTree4: '',
            answerTree5: '',
            answerTree6: '',
            answerTree6: '',
            answerTree7: '',
            answerTree8: '',
            answerTree9: '',
            trueAnswer: 0,
            len: 0,
            openRezalt: false
        }
    },
    components:{
        ckeditor: CKEditor.component,
        MainModal,
        Rezalt
    },
    methods: {
        stop(){
            this.len = this.questions.length
            this.trueAnswer = 0
            this.answer = JSON.parse(localStorage.getItem('answers'))
            this.answer.forEach(e=>{
                if(this.questions[e.index].type == 1){
                    let t = true
                    for(let o = 0; o < e.id.length; o++){
                        if(this.questions[e.index].answer.length > e.id.length ){
                            t = false
                        }
                        if(this.questions[e.index].answer.search(e.id[o]) == -1){
                          t = false
                        }
                        
                    }
                    if(t){
                        this.trueAnswer += 1
                    }
                }else if(this.questions[e.index].answer == e.id.toString()){
                    this.trueAnswer += 1
                    
                }
               
            })
            this.openRezalt = true
        },
        closeRezalt(){
            this.openRezalt = false
        },
        getQuestion(){
            this.questions = JSON.parse(localStorage.getItem('questions'))
            
        },
        radio(x,i){
            
            if(this.answers.length == 0){
                let a = {index: x,id: i}
                this.answers.push(a)
            }else{
                this.answers.forEach(element => {
                    if(element.index == x){
                        element.id = i
                        this.radioTrue = false
                    }
                    
                });
                if(this.radioTrue){
                    let b = {index: x,id: i}
                    this.answers.push(b)
                    
                }
            }
            this.radioTrue = true
            this.getAnswer()

        },
        checkbox(m,n){
            if(this.answers.length == 0){
                
                let a = {index: m,id: n.toString()}
                this.answers.push(a)
            }else{
                this.answers.forEach(e => {
                    if(e.index == m){
                        for(let v = 0; v < e.id.length; v++){
                            
                            if(e.id[v] == n.toString()){
                                this.there = false
                                e.id = e.id.slice(0,v) + e.id.slice(v+1,e.id.length)
                                
                            }
                        }
                        if(this.there){
                           e.id = e.id + n.toString()  
                        }
                        this.checkboxTrue = false
                        this.there = true
                    }

                });
                if(this.checkboxTrue){
                    let ch = {index: m,id: n.toString()}
                    this.answers.push(ch)
                    
                }
                
            }
            this.checkboxTrue = true
            this.getAnswer()
        },
        tree(t){
            //this.getAnswer()
            //setTimeout(()=>{
                this.answerTime(t)
            //},3000)
           
        },
        answerTime(g){
            let a = ''
            switch(g){
                case 0:
                    a = this.answerTree
                    break
                case 1:
                    a = this.answerTree1
                    break
                case 2:
                    a = this.answerTree2
                    break
                case 3:
                    a = this.answerTree3
                    break
                case 4:
                    a = this.answerTree4
                    break
                case 5:
                    a = this.answerTree5
                    break
                case 6:
                    a = this.answerTree6
                    break
                case 7:
                    a = this.answerTree7
                    break
                case 8:
                    a = this.answerTree8
                    break
                case 9:
                    a = this.answerTree9
                    break
    
            }
            let k = {index:g,id:a}
            if(this.answers.length == 0){
                //this.answers.push(k)
            }else{
                this.answers.forEach(e => {
                    if(e.index == g){
                        e.id = a
                        this.indexTree = false
                    }
                })
                if(this.indexTree){
                    this.answers.push(k)
                }
            }
            this.indexTree = true  
            this.getAnswer() 
        },
        getAnswer(){
            if(JSON.parse(localStorage.getItem('answers')).length == 1){
                localStorage.setItem('answers',JSON.stringify(this.answers))
               // this.answers = JSON.parse(localStorage.getItem('answers'))
            }else{
                localStorage.setItem('answers',JSON.stringify(this.answers))
                //this.answers = JSON.parse(localStorage.getItem('answers'))
            }
            
        }
        
    },
    mounted() {
        this.getQuestion()
        
        
    },
}
</script>
<style scoped>
.option-content{
    padding: 20px 10px;
}
.question{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.question .index{
    margin-right: 10px;
}
.responsave{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.option{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}
.input{
    margin-right: 10px;
}
.type{
    margin: 10px;
}
.button{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.button button{
    background: #BF1431;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
</style>