<template>
    <div class="exit"><i @click="close" class="fa-solid fa-xmark"></i></div>
    <div class="rezalt">
        <h4>Tabriklaymiz! sizning testingiz qabul qilindi</h4>
        <h5>Sizning natijalaringiz</h5>
        <p>{{rezalt}}/{{len}}</p>
    </div>
</template>
<script>
export default {
    name: 'Rezalt',
    props: {
        rezalt:{
            type:Number
        },
        len:{
            type:Number
        }
    },
    methods: {
        close(){
            this.$emit("closeRezalt", false)
        }
    },
}
</script>
<style scoped>
.rezalt{
    width:100%;
    text-align: center;
    margin-top: 100px;
    padding: 10px 20px;
}
.rezalt h4{
    font-size: 30px;
}
.rezalt h5{
    font-size: 20px;
}
.exit{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.exit i{
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
}
</style>