<template>
    <div class="create-content">
        <div class="exit"><i @click="close" class="fa-solid fa-xmark"></i></div>
    </div>
    <div class="question-content">
        <div class="text">
            <h5>Savol</h5>
            <ckeditor v-model="questions.question" :editor="editor"></ckeditor>
        </div>
        <div class="answers">
            <h5>Javoblar</h5>
            <div class="option">
                <input @click="type(0)" type="radio" checked="true" name="type"> <span>1 tur</span>
                <input @click="type(1)" type="radio" name="type"> <span>2 tur</span>
                <input @click="type(2)" type="radio" name="type"> <span>3 tur</span>
            </div>
            <div v-if="answerType !== 2" id="edit"><i @click="add" class="fa-solid fa-plus"></i></div>
            <div v-if="answerType !== 2" class="type-one" v-for="a,index in questions.options" :key="index">
                <p>Javob index {{index}}</p>
                <div class="answer-content">
                    <ckeditor v-model="a.option" :editor="editor" ></ckeditor>
                    <div class="edit">
                        <i @click="minus(index)" class="fa-solid fa-minus"></i>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="answer-send">
            <div v-if="answerType !== 2"  class="input">
                <h5>To'gri javob</h5>
                <input v-if="answerType == 0" v-model="questions.answer" type="text" placeholder="0" oninput="this.value = this.value.replace(/[^0-3.]/g, '')" maxlength="1">
                <input v-if="answerType == 1" v-model="questions.answer" type="text" placeholder="0-1-2-3" oninput="this.value = this.value.replace(/[^0-3.]/g, '-')" maxlength="8">
               
            </div>
            <p v-if="answerType == 0 || answerType == 1" class="remember">0-3 gacha bo'lgan javob indeksini kiriting </p>
            
            <div v-if="answerType == 2" >
                <h5>To'g'ri javob</h5>
                <ckeditor v-model="questions.answer" :editor="editor" ></ckeditor>
            </div>
        </div>
        <div class="send">
            <button @click="create">Saqlash</button>
        </div>
    </div>
</template>
<script>
import CKEditor from "@ckeditor/ckeditor5-vue";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
//import json from "@/plugins/js/data.json"
export default {
    name: 'CreateTest',
    data() {
        return {
            editor: ClassicEditor,
            questions:{
                question: '',
                options: [
                    {option:''}
                ],
                answer: '',
                type: 0
            },
            answerType:0,
            array: []
            
            
        }
    },
    components:{
        ckeditor: CKEditor.component,
        
    },
    emits: ["addQuestion","exitQuestion"],
    methods: {
        add(){
            if(this.questions.options.length < 4){
                this.questions.options.push({option: ''})
            }
            
        },
        minus(index){
            if(this.questions.options.length >1){
                this.questions.options.splice(index,1)
            }
            
        },
        create(){
            
            if(localStorage.getItem('questions') == null){
                this.array.push(this.questions)
                localStorage.setItem('questions',JSON.stringify(this.array))
            }else{
                let q = JSON.parse(localStorage.getItem('questions'))
                q.push(this.questions)
                localStorage.setItem('questions',JSON.stringify(q))
            }
            this.$emit('addQuestion',false)
            this.$router.go('/')
            
        },
        type(id){
            this.questions.type = id
            this.answerType = id
        },
        inputOn(){
            console.log(this.questions.answer)
            console.log(this.questions.answer.length)

        },
        close(){
            this.$emit("exitQuestion",false)
            
        }
    },
}
</script>
<style scoped>

.exit{
    width: calc(100% - 40px);
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
}
.exit i{
    font-size: 20px;
    cursor: pointer;
}
.question-content{
    margin: 10px 10px;
    width: calc(100% - 20px);
}
.question-content h5{
    margin-bottom: 10px;
    color: #121212;
    margin-top: 10px;
}
.option span{
    margin-right: 30px;
}
.option input{
    margin-right: 5px;
}
.answer-content{
    margin-top: 10px;
}
.answer-content .edit,#edit{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
}
.answer-content .edit i,#edit i{
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}
.fa-minus{
    background: #BF1431;
    color: #fff;
}
.fa-plus{
    background: #28a745;
    color: #fff;
}
.input{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.input input{
    border: 1px solid #bebebe;
    width: 100px;
    border-radius: 5px;
    height: 30px;
    margin-top: 10px ;
    margin-left: 20px;
    text-align: center;

}
.remember{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color:#ffc107
}
.send{
    margin-top: 20px ;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.send button{
    border: none;
    background: #28a745;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    
}
</style>