<template>
    <div class="content">
        <div class="test-navbar">
            <p @click="test" >Testlar</p>
            <p @click="option">Variantlar</p>
        </div>
        <TestList v-if="rout == 0"></TestList>
        <Option v-if="rout == 1"></Option>
    </div>
</template>
<script>
import TestList from './TestList.vue';
import Option from '../option/Option.vue';

export default {
    name: "TestNavbar",
    components: { TestList, Option },
    data() {
        return {
            rout:0
        }
    },
    methods: {
        test(){
            this.rout = 0
        },
        option(){
            this.rout = 1
        }
    },
}
</script>
<style scoped>
.content{
    margin: 20px 30px;
    width: calc(100% - 60px);
    min-height: 200px;
    border: 1px solid #bebebe;
}
.test-navbar{
    width: 100%;
    height: 50px;
    background: #14BF9C;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    align-items: center;
}
.test-navbar p{
    margin-left: 20px;
    font-weight: 500;
    cursor: pointer;

}
.test-navbar p:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}
</style>