<template>
    <div class="content-list">
        <div class="create">
            <div></div>
            <div @click="open" class="add">Qo'shish</div>
        </div>
        <MainModal :showModal="create" @showModal="close">
            <CreateTest @addQuestion="close" @exitQuestion="close"></CreateTest>
        </MainModal>
        <div class="list">
            <table class="table-auto">
            <thead>
                <tr>
                    <th>#</th>
                <th>Savollar</th>
                <th>Turi</th>
                <th>Javoblar</th>
                <th>To'gri javob</th>
                <th>Taxrirlash</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="q,index in questions" :key="index">
                    <td>{{1 + index}}</td>
                    <td v-html="q.question"></td>
                    <td>{{q.type}}</td>
                    <td>
                        <div v-for="o,id in q.options" :key="id">
                            <div class="option">{{id}}.  <span>  </span><span v-html="o.option"> </span></div>
                        </div>
                    </td>
                    <td v-html="q.answer"></td>
                    <td style="text-align:center" class="edit">
                        <i @click="editeQuestion(index)" class="fa-solid fa-pen"></i>
                        <i @click="deleteQuestion(index)" class="fa-solid fa-trash"></i>
                    </td>
                </tr>
                
            </tbody>
            </table>
        </div>
        <MainModal :showModal="editId" @showModal="close">
            <EditTest :question="id" @editQuestion="close" @exitQuestion="close"></EditTest>
        </MainModal>
    </div>
</template>
<script>
import MainModal from '../UI/MainModal.vue';
import CreateTest from './CreateTest.vue';
import EditTest from './EditTest.vue'

export default {
    name: "TestList",
    components: { MainModal, CreateTest ,EditTest},
    data() {
        return {
            create: false,
            questions: null,
            id: null,
            editId: false
        }
    },
   
    methods: {
        open(){
            this.create = true
        },
        close(){
            this.create = false
            this.editId = false
        },
        closeCreate(){
            this.create = false
        },
        getQuestion(){
            this.questions = JSON.parse(localStorage.getItem('questions'))
        },
        deleteQuestion(id){
            this.questions.splice(id,1)
            localStorage.setItem('questions',JSON.stringify(this.questions))
            this.getQuestion()
        },
        editeQuestion(i){
            this.id = i
            this.editId = true
        }
    },
    mounted(){
        this.getQuestion()
    }

}
</script>
<style scoped>
.create{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.add{
    border: 1px solid #14BF9C;
    padding: 5px 10px;
    background: #14BF9C;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;

}
table{
    width: 100%;
    margin-top: 20px;
    
}
/* @media (max-width:800px) {
    .lest{
        width: 750px;
        overflow: auto;
        overflow-x: scroll;
    }
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  
  background: #eee;
}
  */
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #4E99AD; 
  border-radius: 5px;
} */

/* Han/dle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #4E99AD; 
}  */
th, td{
    border: 1px solid #bebebe;
} 
.edit i{
    cursor: pointer;
}
.fa-pen{
    margin-right: 10px;
    color: #ffc107;
}
.fa-trash{
    color: #BF1431;
}
.option{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
</style>