<template>
    <div class="navbar-content">
        <div class="main">
            <router-link to="/"><h1 class="text-3xl">Test app</h1></router-link>
            <div class="task">
                <div><router-link to="/">Tests</router-link></div>
                <div><router-link to="/form">Forms</router-link></div>
                <div><router-link to="/students">Students</router-link></div>
                <div><router-link to="/login">Login</router-link></div>
            </div>
        </div>
        <div class="user">
            
            <div>
                <img @click="openDrop" src="../../../public/img/user.png" alt="" >
                <div v-if="user" class="dropdown-content z-10 ">
                    <div class="setting">
                        <router-link to="#">Sozlamalar</router-link>
                    </div>
                    <div class="setting">
                        <router-link to="#" @click="deleteLogin">Chiqish</router-link>
                    </div>
                </div>
            </div>
           
        
        </div>
    </div>
</template>
<script>
export default {
    name: 'Navbar',
    data() {
        return {
            user: false
        }
    },
    methods: {
        openDrop(){
            this.user = !this.user
        },
        deleteLogin(){
            localStorage.setItem('login','')
            this.$router.push('/login')
        }
    },
}
</script>
<style scoped>
.navbar-content{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #bebebe;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.main{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.main .task{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
h1{
    color: #14BF9C;
    width: 170px;
}
.main .task div{
    margin-right: 20px;
    padding-top: 10px;
}
.main .task div:hover a{
    text-decoration: underline;
    color: #BF1431;
}
.user{
    width: 150px;
    
}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 85px;
    margin-top: 10px;
    background: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}


.dropdown-content{
    
    border: 1px solid #bebebe;
    width: 130px;
    min-height: 50px;
    background: #fff;
}
.setting{
    color: #121212;
    font-weight: 500;
    padding: 5px 10px;
}
.setting:hover{
    background: #bebebe;
}
@media(max-width:600px){
    .main .task,.user{
        display: none;
    }
}
</style>