<template>
    <div class="login-content">
        <div class="content">
            <h1>Login</h1>
            <div class="text-field">
                <h5>User name</h5>
                <input v-model="user.login" type="text" required>
                
            </div>
            <div class="text-field">
                <h5>Password</h5>
                <input v-model="user.password" type="password" required id="myInput">    
            </div>
            <input type="checkbox" @click="show"> <span>Show password</span>
            <div class="button" @click="login">Login</div>
            <div class="signup_link">
                Not a remember?
                <router-link to="signup"> Sign up</router-link>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'LoginContent',
    data() {
        return {
            user:{
                login: '',
                password: ''
            },
            u: null
        }
    },
    methods: {
        show(){
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        },
        login(){
            
             this.u = JSON.parse(localStorage.getItem('user'))
            if(this.u.login == this.user.login && this.u.password == this.user.password){
                localStorage.setItem('login','string')
                this.$router.push('/')
            }else{
                alert('Loigin or password error')
            }
            
            
        }
    },
}
</script>
<style scoped>
login-content{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: relative;
    margin: 0;
    padding: 0;


}
.content{
    width: 40%;
    min-height: 300px;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    left: 30%;
    top: 10%;
    border-top: 2px solid #14BF9C;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-size: 25px;
    color: #212121;
}
.text-field{
    border-bottom: 1px solid #878a99;
}
.text-field h5{
    color: #878a99;
    margin: 0;
    margin-top: 10px;

}
.text-field input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    outline: none;
    
}
.text-field input[type="text"],
.text-field input[type="password"]{
    font-size: 16px;
    font-weight: 400px;
}
.pass{
    color: #878a99;
    margin: 0; 
}
.button{
    width: 100%;
    text-align: center;
    padding: 5px;
    background: #14BF9C;
    color: #fff;
    margin-top: 30px;
}
.signup_link {
    margin-top: 20px;
    font-size: 14px;
}
.signup_link a:hover{
    color: #BF1431;
}
span{
    font-size: 14px;
}
@media (max-width:750px) {
    .content{
        top: 20%;
        width: 80%;
        left: 10%;
    }
}

</style>