<template>
   
    <SignupContent></SignupContent>
</template>
<script>
import SignupContent from '@/components/login/SignupContent.vue';
//import Navbar from '@/components/navbar/Navbar.vue';

export default {
    name: "Signup",
    components: {SignupContent }
}
</script>