<template>
    <div>
        <Navbar></Navbar>
        <FormContent></FormContent>
    </div>
</template>
<script>
import Navbar from '@/components/navbar/Navbar.vue';
import FormContent from '@/components/form/FormContent.vue'

export default {
    name: "Form",
    components: { Navbar,FormContent }
}
</script>
<style scoped>

</style>