<template>
  <div class="content">

    <RouterView ></RouterView>
    
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
   
  },
  data() {
    return {
      showModal: false,
      login: ''
    }
  },
  methods: {
      loginValid(){
        console.log(this.login)
          if(localStorage.getItem('login').length == 0){
            this.$router.push('/login')
          }
      }
  },
  mounted() {
    if(localStorage.getItem('login') == null){
      localStorage.setItem('login','')
    }
    this.login = localStorage.getItem('login')
    this.loginValid()
  
  },

}
</script>
<!-- font-family:  Poppins,'HeadingPro',Roboto,Helvetica, Arial, sans-serif; -->
<style scoped>
#app {
  
  font-family: Assistant, sans-serif;
  background: #fdfdfd;
}

</style>
