<template>
    <div class="modal" v-if="show" @click="hideModal">
        <div @click.stop  class="modal_context">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default{
    name: 'bar-modal',
    props:{
        show: {
            type: Boolean,
            default: false
        }

    },
    methods: {
        hideModal(){
            this.$emit("show", false)  
        }
    
    },
}
</script>
<style scoped>
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}
.modal_context{
    width: 270px;
    min-height: 100px;
    background: #fdfdfd;
}


</style>
