<template>
    <div class="main-modal" v-if="deleteModal" @click="closeDeleteModal">
        <div @click.stop class="content-main">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    name: 'delete-modal',
    props:{
        deleteModal:{
            type:Boolean,
            default: false
        }
    },
    methods: {
        closeDeleteModal(){
            this.$emit("deleteModal",false)
        }
    },
}
</script>
<style scoped>
.main-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
} 
.content-main{
    width: 400px;
    min-height: 200px;
    background: #fff;
    margin-left: calc((100% - 400px) / 2);
    margin-top: 150px;
} 
@media (max-width:440px) {
    .content-main{
        width: 80%;
        margin-left: 10%;
    }
} 
</style>
