<template>
    <div class="main-modal" v-if="showModal" >
        <i @click="closeMainModal" class="fa-solid fa-xmark"></i>
        <div @click.stop class="content-main">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    name: 'img-modal',
    props:{
        showModal:{
            type:Boolean,
            default: false
        }
    },
    methods: {
        closeMainModal(){
            this.$emit("showModal",false)
        }
    },
}
</script>
<style scoped>
.main-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
} 
.fa-solid {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    padding-right: 30px;
}
.content-main{
    margin: auto;
    width: 60%;
    min-height: 300px;
    max-height: 80%;
    background: #fff;
    
}
@media (max-width:800px){
    .content-main{
        width: 80%;
        height: 80%;
    }
}
@media(max-width:500px){
    .content-main{
        height: 50%;
    }
}
</style>
