<template>
    <div class="main-modal" v-if="showModal" @click="closeMainModal">
        
        <div @click.stop class="content-main">
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    name: 'main-modal',
    props:{
        showModal:{
            type:Boolean,
            default: false
        }
    },
    methods: {
        closeMainModal(){
            this.$emit("showModal",false)
        }
    },
}
</script>
<style scoped>
.main-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
} 
.content-main{
    width: 80%;
    height: calc(100vh - 60px);
    background: #fff;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  
  background: #eee;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4E99AD; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4E99AD; 
} 
@media (max-width:440px) {
    .content-main{
        width: 80%;
        margin-left: 10%;
    }
} 

</style>
