<template>
    <div>
      <div class="navbar">
        <slot></slot>
      </div>  
    </div>
</template>
<script>
export default {
    name: 'my-navbar'
}
</script>
<style scoped>
.navbar{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}
</style>